
         <p>
    <%= label :asana_subtype, :name %>: 
    <%= text_field :asana_subtype, :name, :size=>30 %>             
  </p>
  <p>
    <%= label :asana_subtype, :description  %>: <br/>
    <%= text_area  :asana_subtype, :description %>                       
  </p>



