
           <p>
    <%= label :asana_type, :name %>: 
    <%= text_field :asana_type, :name, :size=>30 %>             
  </p>
  <p>
    <%= label  :asana_type, :description %>:<br/>  
    <%= text_area  :asana_type, :description %>                       
  </p>
   
<p>  


