<% @title = 'Welcome to the Yoga Plexus' %>  

   	
		
		<div class="post">
			<h2 class="title">Welcome</h2>  
			<div class="entry">
				<i>
					<p>&#8220;A photographer gets people to pose for him.  A yoga instructor gets people to pose for themselves.&#8221;  <br />~T. Guillemets</p>
				</i>
			   
			</div>
			<!--p class="byline"><small>Posted on August 25th, 2008 by <a href="#">admin</a> | <a href="#">Edit</a></small></p-->
			<div class="entry">
				<p>Yoga Plexus is an online service for yoga teachers.  It helps you plan class,  
				create sequences and refresh your memory of sanskrit and various yoga 
				techniques.  You can submit comments on the asanas (postures)<!--, write blogs 
				about their experiences teaching,-->  share your teaching experiences, and read other teacher's perspectives.  Once you register and log in you will be directed to 
				a homepage on Yoga Plexus that will show show your sequences and your 
				submissions to various asana pages.  You will have access to an “asana sequence panel” 
				that lists asanas by type and lets you click one at a time to create your own sequence, 
				which then gets saved to your homepage.  You can open each sequence in concise or “exploded” 
				view to get the main information on each posture in a printable form.</p>
		  </div> <!-- end entry --> 
			<!--<p class="meta"><a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">Comments (33)</a></p> -->
		</div> <!-- end post -->   

     
		

  
	<!-- start extra sidebar -->
  
		<div class="sidebar" style="width:300px;">
			<ul>   	
				<li> 
				<h2>Asana By Spinal Direction</h2>
				<ul><% for at in @asanatypes %>
					<li><%= link_to at.name, asana_type_path(at)  %>  </li> 
					<% end %>
				</ul>
			</li> </ul>
	            
		   <ul> <li>
				<h2>Asana by Starting Positions</h2>
				<ul><% for as in @asanasubtypes %>
					<li><%= link_to as.name, asana_subtype_path(as)  %>  </li>
					 <% end %> 
				</ul>
			</li> 
		</ul>   

	</div> <!-- end extra sidebar -->   

  
		</div> <!-- end content -->